/* box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* root */
:root {
	--font-size: 16px;
	--size: 1.5rem;
}
/* document */
html {
	font-size: var(--font-size);
}

@media (min-width: 40rem) {
	html {
		--font-size: 18px;
	}
}

html,
body,
web-site {
	min-height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

web-site {
	width: 100%;
	padding: var(--size);
}
web-page img {
	width: auto;
	max-width: 100%;
	max-height: 100vh;
}

web-page h1,
web-page h2,
web-page h3,
web-page h4,
web-page h5,
web-page h6,
web-page p {
	margin-top: 0;
}

web-page slot[name="page"] web-section {}
